.history-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-toggle-btn {
  z-index: 21;
}

.calendar-header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  text-align: center;
}

.calendar-wrapper {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 22;
}

.main-content {
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  gap: 2rem;
  width: 95%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.loading-message {
  text-align: center;
  padding: 20px;
  color: #666;
  font-size: 16px;
}

.error-message {
  text-align: center;
  padding: 20px;
  color: #666;
  font-size: 16px;
}

.globe-container {
  position: fixed;
  top: 90px;
  left: 40px;
  width: 600px;   
  height: 600px;  
  z-index: 1;
}

.chart-container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 두 열로 나누기 */
  gap: 20px;
  margin-left: 650px; /* 고정된 지구본 오른쪽 여백 확보 */
  padding-top: 90px; /* 지구본 높이만큼 여백 확보 (필요시 조절) */
}



/*달력*/
.react-calendar {
  width: 280px;
  max-width: 100%;
  background: #F8F9FA;
  border: none;
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: black;
  border-radius: 10px;
  padding: 10px;
}

.react-calendar__navigation {
  display: flex;
  height: 40px;
  margin-bottom: 0.5em;
}

.react-calendar__navigation button {
  min-width: 40px;
  background: none;
  color: black;
  border-radius: 6px;
  border:none;
  transition: background-color 0.2s ease;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #e2e6ea;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #bbbbbb;
}

.react-calendar__tile {
  padding: 10px 6px;
  background: none;
  color: black;
  border: none;
  border-radius: 6px;
  text-align: center;
  font-size: 0.85em;
  transition: background-color 0.2s ease;
}

.react-calendar__tile:enabled:hover {
  background-color: #e2e6ea; 
}

.react-calendar__tile--active {
  background-color: #444;
  color: white;
}

.react-calendar__tile:disabled {
  background-color:#bbbbbb;
  color: #555;
}

.react-calendar__tile:disabled:hover {
  cursor: default;
  background-color: transparent;
  color: #555;
  pointer-events: none;
}


