.main-navbar {
  position: fixed;
  width: 100vw;
  height: 64px;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;
}

.navbar-section {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-left {
  min-width: 120px;
}

.navbar-logo {
  height: 40px;
  /* 로고 크기 조정 */
}

.navbar-center {
  flex: 1;
  justify-content: center;
  gap: 2.5rem;
  display: flex;
}

.nav-menu {
  color: #aaaaaa;
  font-size: 1.15rem;
  padding: 0 14px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.01em;
}
.nav-menu:hover {
  color: #ffffff;
}

.navbar-right {
  min-width: 118px;
  justify-content: flex-end;
}

.spotify-btn {
  background: #ffffff;
  color: #000000;
  font-size: 1.1rem;
  padding: 0.6em 2.3em;
  margin-right: 0.5em;
  border-radius: 40px;
  border: none;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.spotify-btn:hover {
  background: #e6e6e6;
}
