.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background: linear-gradient(to bottom, #1a1a1a80 90%, transparent 100%);

  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;
}

.navbar-section {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-left {
  min-width: 120px;
}

.navbar-logo {
  height: 40px;
  /* 로고 크기 조정 */
}